body {
    font-size: 20px;
    background-color: rgb(146, 146, 255);
    color:rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    

}

p {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border: 3px solid; border-radius: 5%;
}

a{
    color: rgb(0, 80, 64);
}

a:hover {
    color: rgb(0, 134, 107);
    font-size: 22.5px;
}

.center {
    text-align: center;
}